<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="msg0" value="Hi, All  This is an email automatically created from 'Looping service' to report ping error...Please see attached file."/>
    <add key="msg1" value="Hi, All  This is an email automatically created from 'Looping service' Every thing is ok."/>
    <add key="Sender_Default" value="zerq.root@gmail.com"/>
    <add key="Sender_Default_Password" value="xxxxxx"/>
    <add key="Receiver_Default" value="josky2130@gmail.com"/>
    <!--<add key="Smtp_Default" value="xxxxxxx"/>-->
  </appSettings>
</configuration>